html,
body {
    height: 100%;
    margin: 0;
}

.profile-form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);

    .profile-form_card_header {
        text-align: center;
        margin-bottom: 40px;
    }

    .profile-form_buttons {
        display: flex;
        margin-top: 70px;
    }
}